.image {
    width: 300px;
    object-fit: cover;
    object-position: center;
}
.image-wrapper {
    text-align: center;
    width: 300px;
}
.image-btn{
    display: inline-block;
    vertical-align: baseline;
    background: #2271b1;
    border-color: #2271b1;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    font-size: 13px;
    line-height: 20px;
    padding: 7px 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media(max-width: 782px) {
    .image-wrapper {
        text-align: left;
    }
}