.request_btn {
    font-size: 18px;
    line-height: 25px;
    position: relative;
    outline: none;
    &::before  {
        position: absolute;
        content: '';
        width: 100px;
        height: 100px;
        top: -58px;
        left: -49px;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -9;
        background-color: transparent;
        border-radius: 50%;
        transition: all 0.3s;
    }
    &:hover::before,
    &:focus::before  {
        background-color: #A9A32A;
        transition: background-color 0.3s;
    }
}


@media(max-width: 960px) {
    .request_btn {
        &::before  {
            width: 70px;
            height: 70px;
            top: -40px;
            left: -34px;
        }
    }
}
@media(max-width: 515px) {
    .request_btn {
        font-size: 14px;
        line-height: 19px;
        &::before  {
            width: 70px;
            height: 70px;
            top: -40px;
            left: -34px;
        }
    }
}

